.abcd{
    background-color: #f3f3f3;
    padding: 2rem;
    margin-top: 2rem;
}

/* @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700'); */

.footer-distributed{
	background-color:  #f3f3f3;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 3.125rem 3.125rem 3.125rem 3.125rem;
	margin-top: 5rem;
	display: inline-block;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* / Footer left / */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed .footer-left p{
	color: #000;
}

.footer-distributed h3{
	color:  black;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* / The company logo / */

.footer-distributed .footer-left img{
    width: 20%;
    height: 5%;
}

.footer-distributed h3 span{
	color:  #fec239;
}

/* / Footer links / */

.footer-distributed .footer-links{
	color:  black;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* / Footer Center / */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #fec239;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:1.6rem;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  black;
	text-decoration: none;;
}


/* / Footer Right / */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  black;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  black;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #fec239;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* / Footer header css Start / */

/* #projectName_wrap{
    font-size: 4rem;
    margin-top: 15px;
    color: black;
}
#projectName_wrap_book{
    color: #adadad;
} */

/* / Footer header css Start / */

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}