<div id="loginbody">
    <mat-toolbar id="header">
        <span>Update Book Price</span>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
    <form [formGroup]="updatePriceService.form" class="normal-form" (submit)="onSubmit()">
        <mat-grid-list cols="1" rowHeight="200px">
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input type="number" matInput  formControlName="amount">
                        <mat-icon matSuffix>₹</mat-icon> 
                    </mat-form-field>
                    <div class="d-flex justify-content-center">
                        <button  class="login-button loginButton"  mat-raised-button color="accent" type="submit">Submit</button>
                    </div>
                </div>    
            </mat-grid-tile>
        </mat-grid-list>    
    </form> 
</div>
