<app-header></app-header>
<div id="bookDetail"  *ngIf="bookDetail != null">
    <div class="col-sm-4 "> 
        <div class="card">
            <img src="{{bookDetail.thumbnail}}" alt="Java Book" id="img">
        </div>
    </div>
    <div class="col-sm-8" id="detailHeight">
        <div>
            <h3 class="header">Book Details</h3>
        </div>
        <div class="card-body product-info-wrap">
            <!-- <p>Authors : <span class="catagory"> {{book.authors}}</span></p> -->
            <p >Book Name : <span class="catagory">{{bookDetail.bookName}}</span> </p>
            <p >Book Author : <span class="catagory">{{bookDetail.authors}}</span> </p>
            <p >Book Publisher : <span class="catagory">{{bookDetail.publisher}}</span> </p>
            <p >Book Descripation : <span class="catagory">{{bookDetail.description}}</span></p>
        </div>
        <div class=" footer">
            <h3 class="card-title"><p><b>₹</b><span id="price"> {{bookDetail.amount}}</span> </p></h3>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <button (click)="addToCart(bookDetail.sellOrderRequestId)" class="btn sell">Add to Cart</button>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="title-warp text-center">
                <button class="btn sell" (click)="buyNow(bookDetail.sellOrderRequestId,bookDetail.amount)">Shop Now</button>
            </div>
        </div>
    </div>
</div>