<app-header></app-header>
<div class="container-fluid content">
    <div class=" col-sm-12 contact-distributed">
	    <div class="col-sm-4 left">
            <img src="../../assets/kundan.jpeg" alt="profile">
            <h3>Kundan Kumar</h3>
 		    <p class="contact-company-name">A young, determined hard and smart working person. I believe in task based roles and complete
                ownership of work.
            </p>
	    </div>
 	    <div class="col-sm-4 center">
		    <div>
			    <i class="fa fa-map-marker"></i>
			    <p><span>Flat No. 202,Vatarika Residency,Nandan Vihar </span>
				    Patia, Bhubaneswar - 751024
			    </p>
		    </div>
 		    <div>
			    <i class="fa fa-phone"></i>
			    <p>+91 9661048341</p>
		    </div>
		    <div>
			    <i class="fa fa-envelope"></i>
			    <p><a href="mailto:kumarkundan@gmail.com">kumarkundan@gmail.com</a></p>
		    </div>
	    </div>
	    <div class="col-sm-4 right">
		    <p class="contact-company-about">
			    <span>About the company</span>
			    Our vision is "to be a globally respected, professional and innovative software services and technology company".
		    </p>
		    <div class="contact-icons">
			    <a href="https://www.facebook.com/kundan.kumar.1238" target="_blank"><i class="fa fa-facebook"></i></a>
			    <a href="https://twitter.com/kumarkundan380" target="_blank"><i class="fa fa-twitter"></i></a>
			    <a href="https://www.linkedin.com/in/kundan-kumar-1a5a0b185" target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
	    </div>
    </div>

    <div class=" col-sm-12 contact-distributed">
	    <div class="col-sm-4 left">
            <img src="../../assets/praveen.jpg" alt="profile">
            <h3>Praveen Kumar</h3>
 		    <p class="contact-company-name">A young, determined hard and smart working person. I believe in task based roles and complete
                ownership of work.
            </p>
	    </div>
 	    <div class="col-sm-4 center">
		    <div>
			    <i class="fa fa-map-marker"></i>
			    <p><span>Flat No. 202,Patia station road,Nandan Vihar </span>
				    Patia, Bhubaneswar - 751024
			    </p>
		    </div>
 		    <div>
			    <i class="fa fa-phone"></i>
			    <p>+91 7352844178</p>
		    </div>
		    <div>
			    <i class="fa fa-envelope"></i>
			    <p><a href="mailto:praveenaditya0@gmail.com">praveenaditya0@gmail.com</a></p>
		    </div>
	    </div>
	    <div class="col-sm-4 right">
		    <p class="contact-company-about">
			    <span>About the company</span>
			    Our vision is "to be a globally respected, professional and innovative software services and technology company".
		    </p>
		    <div class="contact-icons">
			    <a href="https://www.facebook.com/profile.php?id=100008086937367" target="_blank"><i class="fa fa-facebook"></i></a>
			    <a href="https://twitter.com/PRAVEENADITYA2" target="_blank"><i class="fa fa-twitter"></i></a>
			    <a href="https://www.linkedin.com/in/praveen-raj-563251148" target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
	    </div>
    </div>
</div>
 
<!-- <div class="flud-container contact-table">
    <div class="table-wrap">    
        <div class="col-sm-12 left contact-table">
            <div  class="col-sm-4">
                <img src="../../assets/kundan.jpeg">
                <h3>Kundan Kumar</h3>
 		        <p class="contact-company-name">A young, determined hard and smart working person. I believe in task based roles and complete
                    ownership of work.</p>
            </div>
            <div  class="col-sm-4 text-center product-name-wrap">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Flat No. 202,Vatarika Residency,Nandan Vihar </span>
                        Patia, Bhubaneswar - 751024
                    </p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+91 9661048341</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:kumarkundan@gmail.com">kumarkundan@gmail.com</a></p>
                </div>
            </div>
            <div  class="col-sm-4 text-center product-name-wrap">
                <p class="contact-company-about">
                    <span>About the company</span>
                    Our vision is "to be a globally respected, professional and innovative software services and technology company".
                </p>
                <div class="contact-icons">
                    <a href="https://www.facebook.com/kundan.kumar.1238" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/kumarkundan380" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/kundan-kumar-1a5a0b185" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
 -->


