/* You can add global styles to this file, and also import other style files */
/* body{
    margin: 0px;
    padding: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.controles-container{
    width: 100%;
    padding: 5%;    
}

.controles-container > * {
    width: 100%;
}

.add-bottom-padding{
    padding-bottom: 10px;
}

.hide{
    display: none;
} 

form.normal-form{
    margin: 10px;
}

/* notification */
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
snack-bar-container.success {
    background-color: #5cb85c;
    color : #fff;
    margin-top: 13rem;
  }

  snack-bar-container.warn {
    background-color: #f99157;
    color : #fff;
    margin-top: 13rem;
  }


  snack-bar-container.notification simple-snack-bar{
    font-size: 18px !important;
    font-weight: bold;
  }
  .btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
  }